name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'src/apps/client/**'
      - '.github/workflows/azure-static-web-apps-deploy.yml'
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - 'src/apps/client/**'
      - '.github/workflows/azure-static-web-apps-deploy.yml'

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: false

      - name: Create .env file
        run: |
          echo "NEXT_PUBLIC_SANITY_PROJECT_ID=${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}" >> src/apps/client/.env
          echo "NEXT_PUBLIC_SANITY_DATASET=${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}" >> src/apps/client/.env
          echo "NEXT_PUBLIC_SANITY_API_VERSION=${{ secrets.NEXT_PUBLIC_SANITY_API_VERSION }}" >> src/apps/client/.env
          echo "NEXT_PUBLIC_SANITY_STUDIO_URL=${{ secrets.NEXT_PUBLIC_SANITY_STUDIO_URL }}" >> src/apps/client/.env
          echo "NEXT_PUBLIC_SANITY_API_READ_TOKEN=${{ secrets.NEXT_PUBLIC_SANITY_API_READ_TOKEN }}" >> src/apps/client/.env
        shell: bash

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "src/apps/client"
          api_location: ""
          output_location: ""

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "close"
          app_location: "src/apps/client"
